<html>
    <head>
        <title>Index</title>
    </head>
    <body>
        <h1>Index</h1>
        <div>------------------</div>
        <div>Parameter test: {{ parameter }}</div>
        <div>------------------</div>
        <div>Products list:</div>
        <div>
            {% for product in products %}
                <li>{{ product.name }}</li>
            {% endfor %}
        </div>
        <div>------------------</div>
        <div><a href="{{ path('form_product') }}">create new product</a></div>
    </body>
</html>